@import "tailwindcss";


:root {
  --background: linear-gradient( to left ,#1B3C82,  #060D1C);
  --foreground: #171717;
  --color-b: #BCC7E6 ;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-b: var(--b);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fira: Fira Sans, static;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-b: #BCC7E6 ;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Fira Sans;
}
